@import "~font-awesome/css/font-awesome.css";
@import "variables.scss";
@import "utilities.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/*****  HEADER *****/

header{
    padding-bottom: $margin-title * 10;
}

.navBar{
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-right: 80px;
    margin-left: -20px;

    #logo{
        padding-left: 20px;
    }

    ul{
        list-style-type: none;
        gap:40px;
        
        li{
            
            a{
                text-decoration: none;
                color: $main-purple;
                border-bottom: 0px solid $main-purple;
                padding-bottom: 0px;
    
            }
        }
        li:hover a{
            border-bottom: 3px solid $main-purple;
            padding-bottom: 10px;
        }
    }  
}  
    
.demosOnSale{
    justify-content: end;
    align-items: center;
    position: fixed;
    right: 0;
    top:100px;
    
    .container-demos, .container-icon-demos{
        flex-direction: column;
        justify-content: space-between;
        margin-right: 20px;

        .container-icon-demos{
            align-items: center;
            padding: 15px;
            background-color: white;
            margin-bottom: 15px;
            border-radius: 10px;
            box-shadow: 0 -5px 20px 5px rgb(0 0 0 / 15%);

            .demos-sale{
                font-weight: bolder;
                position: relative;
                text-align: center;
                font-size: 30px;

                &.sale-price{
                    color:$green-price;
                }

                .dollar{
                    position: absolute;
                    top:0;
                    left: 0;
                    font-size: 18px;
                }
            }
            .text-demos{
                font-size: 15px;
                margin-top: 8px;
            }
        }      
    }
}


    
.hero{
    width: 40%;
    margin-top: $margin-title * 5;
    h1{
        font-size: 70px;
        color: $main-purple;
    }

    .text-hero{
        font-size: 25px;
        line-height: 1.5;
        margin-bottom: $margin-title;
    }
}

/*****  SECTION 1 *****/

.ourProducts{
    width: calc(100% / 3);
    padding: 20px;
}

.sliderProducts{
    width: calc(100% - (100% / 3));
    position: relative;

    .cardProducts{
        position: relative;
    }

    .imgProduct{
        width: 100%;
    }

    .nameProduct{
        font-size: 35px;
    }

    .typeProduct{
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 25px;
    }

    .priceProduct{
        font-size: 30px;
    }
}

/*****  SECTION 2 *****/

.container-special-moments{
    justify-content: space-between;
    gap: $gap-imgs * 3;
    
    .container-img-special-moments{
        width: 50%;
        position: relative;

        img{
            width: 100%;
        }
        h2{
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }
}

/*****  SECTION 3 *****/

.container-shop{

    .container-shop-text{
        width: 30%;
        padding: 40px;

        .spacing-title.text-gray{
            line-height: 1.5;
        }
    }
    .slider-shop{
        width: 70%;
        gap:$gap-imgs;
        position: relative;

        .shop-card{
            width: calc(100% / 4);
            //opacity: 0;
        
            .imgShopCard{
                position: relative;

                img{
                    width: 100%;
                }

                h5{
                    font-size: 10px;
                    letter-spacing: 2px
                }

                
                
            }

            .textShopCard{
                color: $main-purple;
                padding-top: 10px;

                .priceProduct{
                    font-size: 15px;
                    margin-top: 10px;
                }
            }
        }
    }
}

/*****  SECTION 4 *****/

.top-container-bakery-process{
    position: relative;
    height: 600px;
    padding: 60px 70px;
    flex-direction: column;
    justify-content: space-between;
}

.mid-container-bakery-process{
    height: 600px;
    gap: $gap-imgs * 2;
    margin-top: $gap-imgs * 2;
    
}

.bot-container-bakery-process{
    height: 600px;
    position: relative;
    margin-top: $gap-imgs * 2;

}
    


.top-text{
    color: white;
    justify-content: space-between;
    font-size: 30px;
}
.number-process-bakery{
    font-size: 60px;
}


.container-description{
    flex-direction: column;
}
        
.subtitle.text-start{
    width: 30%;
}

.description-text{
    color: white;
    line-height: 1.5;
    
}

.container-start-baking{
    position: relative;
    width: 50%;
    height: 100%;
    padding: 40px 70px;
    flex-direction: column;
    justify-content: space-between;
}

.container-cit{
    width: 50%;
    padding: 50px;
    flex-direction: column;
    justify-content: center;
    background-color: $bg-light;
    

    h2{
        font-size:40px;
        color:$main-purple;
    }
}

/*****  SECTION 5 *****/
    
.card-location{
    width: 50%;
}

.img-location{
    width: 100%;
} 
  


.info-location{
    padding: $margin-title 0 20px;
    justify-content: center;
    flex-direction: column;
}

.container-info{
    align-items: center;
    margin-top: 20px;

    .margin-subtitle{
        margin-top: 8px;
    }
    
    .width-info{
        width: calc(100% / 3);
    }
}

/*****  SECTION 6 *****/

.container-stay-in-touch{
    flex-direction: column;
    justify-content: space-evenly;
}

.square-img{
    width: 25%;

        img{
            width: 100%;
            height: 100%;
        }
}

.stay-in-touch{
    width: 51%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bg-light;

}

/*****  HERO FOOTER *****/

.bg-hero-footer{
    background-image: url("./assets/call-to-action-bg.jpg");
    background-size: cover;
    height: 500px;
    align-items: center;
    padding-left: 400px;

    h2{
        color:white;
        font-size: 40px;
        letter-spacing: 2px;
        margin-top: 30px;
        margin-bottom: 80px;
    }
}

/*****  FOOTER *****/

footer{
    margin-top: 100px;
    margin-bottom: 80px;

    .top-footer{
        justify-content: space-between;
    }

    .right-top-footer{
        width: 40%;
        
    }

    .input-email{
        padding: 10px 20px;
        width: 100%;
        border-radius: 10px;
        border: 1px solid lightgray
    }
    
    .bot-footer{
        justify-content: space-between;
        margin-top:150px;

        .list-social{
            
            font-size: 20px;
            gap: 50px;

            a{
                color:$main-purple;
            }
        }
    }

}

.cart-item{
    margin-left: 10px;
    background-color: $purple-light;
    padding: 2px 7px;
    border-radius: 50%;
    
}

.arrow-up{
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: $bg-chevron-footer;
    border-radius: 10px;
    padding: 15px;

    a{
        color: white;
        
    }
}

/* CLASSI SLIDER */

.hide{
    opacity: 0;
}

.active{
    opacity: 1;
}

.back-img{
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity ;
}

.active-links{
    border-bottom: 3px solid $main-purple;
    padding-bottom: 10px;
}

