/* CLASSI GENERICHE GRAFICA */

.d-flex{
    display: flex;
}

.absolute{
    position: absolute;
}

.indexPlus{
    z-index: 4;
}

.overlay{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    color: white;
    font-size: 20px;

}

.cardProducts:hover .overlay, 
.container-img-special-moments:hover .overlay, 
.shop-card:hover .overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cardProducts:hover .overlay, 
.shop-card:hover .overlay {
    background-color: rgba(0,0,0,0.5);
}

.bg-newyork{
    background-color: $bg-newyork;
}

.bg-london{
    background-color: $bg-london;
}

/* CLASSI GENERICHE TESTO */

.subtitle, .subtitle-hover{
    font-size: 12px;
    letter-spacing: 2px;
}

.subtitle{
    color: $color-subtitle;
}

.subtitle-hover{
    color:$color-subtitle-hover
}

.text-center{
    text-align: center;
}

.text-end{
    text-align: end;
}

.text-start{
    text-align: start;
}

.align-start{
    align-items: start;
}

.align-end{
    align-items: end;
}

h3{
    color: $main-purple;
    font-size: 28px;
    font-weight: 900; 
}

h4{
    font-size:18px;
}

.text-gray{
    color:$hero-text
}

/* CLASSI GENERICHE SPAZIATURE */

.w-25{
    width: 25%;
}

.w-30{
    width: 30%;
}

.w-40{
    width: 50%;
}

.container{
    margin: 0 auto;
    width: 1500px;
}

.spacing-title{
    margin-top: $margin-title;
    margin-bottom: $margin-title;
}

.spacing-section{
    margin-top: $spacing-section;
    margin-bottom: $spacing-section;
}

.gap{
    gap: $gap-imgs;
}

/* CLASSI GENERICHE BUTTONS */

.btn{
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    letter-spacing: 1.5px;
    font-size: 18px;
}

.btn-white{
    background-color: white;
    color: $main-purple;
}

.btn-white:hover{
    background-color:  $main-purple;
    color: white;
}

.btn-purple{
    color: white;
    background-color: $main-purple;
}

.btn-purple:hover{
    background-color: $purple-light;
    color: $main-purple;
}

.arrow{
    position: absolute;
    font-size: 20px;
    background-color: $color-arrow;
    opacity: 0.7;
    padding: 25px 10px; 
    color:white;
}

.arrow-right{
    top:50%;
    right: 0;
    transform: translateY(-50%);
}

.arrow-left{
    top:50%;
    left: 0;
    transform: translateY(-50%);
}


