$main-purple: #5b2ca2;
$green-price: #287a00;
$purple-light: #bda2f3;
$bg-light: #f9f1f2;
$bg-london: #faf3e3;
$bg-newyork: #f1f9fb;
$bg-chevron-footer: #0e0e0d;
$color-subtitle: #929295;
$hero-text: #505050;
$margin-title:30px;